.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47,53,79,0.9);
  height: 100vh;
  transform: translateY(-50px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1.5px solid var(--GrayishBlue);
}
.menu li:last-child a {
  border: 2px solid var(--GrayishBlue);
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 3px;
}
.menu-open {
  user-select: none;
  width: 60px;
  height: 60px;
  display: inline-flex;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(47,53,79,0.9);
}
.menu-checkbox:checked ~ .header .menu-open {
  background-image: url("../images/icon-close.svg");
}
.menu-checkbox:checked ~ .header .header-logo {
  background-image: url("../images/logo-bookmark-white.svg");
}
.menu-checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.2s background;
}
.header-logo {
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url("../images/logo-bookmark.svg") no-repeat center;
  background-size: contain;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  text-align: center;
  padding: 4em 0;
}
.hero-image {
  max-width: 100%;
}
.hero-buttons {
  padding-top: 1em;
}
.tabs {
  margin: 2em;
  border-top: 1px solid var(--GrayishBlue);
}
.tabs-link {
  border-bottom: 1px solid var(--GrayishBlue);
}
.tabs-content {
  display: none;
}
.tabs-content img {
  max-width: 100%;
}
.tabs-grid {
  margin-top: 4em;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
}
.tabs label:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0 -10px var(--SoftRed);
}
.tabs input {
  display: none;
}
.tabs input[id="bookmarking"]:checked ~ ul [for="bookmarking"]:after {
  display: block;
}
.tabs input[id="bookmarking"]:checked ~ .tabs-grid #tab-bookmarking {
  display: block;
}
.tabs input[id="searching"]:checked ~ ul [for="searching"]:after {
  display: block;
}
.tabs input[id="searching"]:checked ~ .tabs-grid #tab-searching {
  display: block;
}
.tabs input[id="sharing"]:checked ~ ul [for="sharing"]:after {
  display: block;
}
.tabs input[id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: block;
}
.features {
  text-align: center;
}
:root {
  --SoftBlue: #5368df;
  --SoftRed: #fa5757;
  --GrayishBlue: #9194a1;
  --VeryDarkBlue: #252b46;
}
body {
  font-family: 'Rubik', sans-serif;
  color: var(--VeryDarkBlue);
  margin: 0;
  font-size: 18px;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
.u-h1,
.u-h2 {
  font-size: 2em;
  font-weight: 500;
}
.u-p {
  color: var(--GrayishBlue);
  line-height: 1.7;
  font-size: 0.9em;
}
.u-button {
  background: var(--SoftBlue);
  color: #fff;
  padding: 1em 0.5em;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 0.5em;
  border: none;
  margin-left: 0.5em;
  box-shadow: 0 7px 10px -4px var(--SoftBlue);
  cursor: pointer;
}
.u-button:first-of-type {
  margin: 0;
}
.u-button.is-gray {
  color: var(--VeryDarkBlue);
  background: #f2f2f2;
}
