.carousel
  text-align left
  margin 2em 0
  &-content
    &[open]
      .carousel
        &-header
          border none
          &::-webkit-details-marker
            color: var(--SoftRed)
  &-header
    padding 1em 0
    border-bottom 1px solid #CCD1D1
    font-size 0.9em
    &:focus
      outline: 0
    &::-webkit-details-marker
      color var(--SoftBlue)
      float right 
      

