.join 
  background: var(--SoftBlue)
  color white
  text-align center
  padding 3em 0
  small 
    text-transform uppercase
    letter-spacing 4px
.form
  max-width 500px
  margin auto
  .u-button
    margin 0
  &-input
    width 100%
    padding 1em
    box-sizing: border-box
    margin-bottom:  1em
    border-radius: 10px
    border none
    font-size 1em
    outline: 0
    &::-webkit-input-placeholder
      color #CCD1D1
  @media screen and (min-width 1024px)
    display flex
    &-input
      flex-shrink: 0
      width 70%
      margin-right 1em
      margin-bottom: 0
      